{% extends "encyclopedia/layout.html" %}
{% load widget_tweaks %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}

    <h1>Edit Page</h1>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error | safe }}
        </div>
    {% endif %}

    <!-- https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html -->
    <form action="{% url 'edit' title %}" method="post">
        {% csrf_token %}
        
        <div class="form-container">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                </div>
            {% endfor %}            
        </div>

        <input class="btn btn-primary" type="submit" value="Save">
    </form>

    <a href="{% url 'index' %}" class="btn btn-danger" role="button">Cancel</a>

{% endblock %}