{% extends "encyclopedia/layout.html" %}
{% load widget_tweaks %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}

    <h1>Create New Page</h1>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error | safe }}
        </div>
    {% endif %}

    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        
        <div class="form-container">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                </div>
            {% endfor %}

            <div class="d-flex">
                <input class="btn btn-primary" type="submit" value="Save">
                <a href="{% url 'index' %}" class="btn btn-danger ml-auto" role="button">Cancel</a>
            </div>            
            
        </div>
    </form>

{% endblock %}